@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;0,900;1,100;1,400&display=swap");
body {
  min-height: 100vh;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 1.6;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.categoryDesc {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

.category {
  display: flex;
  justify-content: center;
  width: 90%;
}
@media only screen and (max-width: 1200px) {
  .category {
    flex-direction: column;
  }
}
.category__img {
  position: relative;
  display: flex;
  padding: 25px;
  justify-content: center;
}
.category__img img {
  border-radius: 5px;
}
.category__img--name {
  background-color: #f8f9ff;
  position: absolute;
  top: 70%;
  width: 60%;
  text-align: center;
  box-shadow: 10px 10px 5px -9px rgba(0, 0, 0, 0.75);
  padding: 10px;
}
@media only screen and (max-width: 1200px) {
  .category__img--name {
    width: 20% !important;
  }
}

.slider img {
  max-width: 100%;
  height: auto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1250px;
}
.header__icons svg {
  margin-left: 13px;
  font-size: 30px;
  margin-top: -3px;
  color: #455368;
}
@media only screen and (max-width: 1200px) {
  .header__icons svg {
    margin-top: unset !important;
    padding: 5px;
  }
}
.header__logo {
  margin-left: -2%;
}
.header__logo img {
  width: 200px;
}
.header__navigation {
  border-radius: 3px;
  width: 1160px;
  height: 49px;
  margin-top: -1.5%;
  background-color: #455368;
}
@media only screen and (max-width: 1200px) {
  .header__navigation {
    height: unset !important;
  }
}

.navigation {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex-wrap: wrap;
}
.navigation__item {
  padding: 1%;
  margin-left: 25px;
  margin-right: 25px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}
.navigation__item:hover {
  border-bottom: 2px solid #ff4d00;
}

.search {
  flex-basis: 800px;
}
.search__input {
  padding: 10px;
  margin-top: -10px;
  width: 90%;
  border-radius: 3px;
  border: 1px solid rgba(105, 104, 106, 0.54);
}

.products {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 1200px) {
  .products {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .products a {
    margin-top: 15px;
  }
}
.products__block {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #c3c3c3;
  height: 250px;
  width: 250px;
  padding: 0.1%;
  margin-left: 25px;
  margin-right: 25px;
}
.products__block img {
  width: 200px;
}
.products__moreInfo {
  position: absolute;
  background-color: #f8f9ff;
  position: absolute;
  text-align: center;
  top: 82%;
  color: #ad3400;
  width: 65%;
  text-align: center;
  box-shadow: 10px 10px 5px -9px rgba(0, 0, 0, 0.75);
  padding: 10px;
}

.product {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.product img {
  width: 250px;
}
.product__buyQuantity {
  width: 15%;
  padding: 5px;
  border-radius: 5px;
  border: unset;
  border-bottom: 1px solid #0000006b;
}
.product__buy {
  display: flex;
  width: 100%;
  justify-content: center;
}
.product__buyBtn {
  border: none;
  margin-right: 5px;
  background: #ff4d00;
  padding: 10px;
  width: 20%;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 18px;
}
@media only screen and (max-width: 1200px) {
  .product__buyBtn {
    width: 100% !important;
  }
}

.footer {
  margin-top: 80px;
  left: 0;
  bottom: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 50px;
}
.footer__socialIcons {
  font-size: 30px;
}
.footer__socialIcons svg {
  padding: 5px;
  color: #455368;
}
.footer p {
  margin-top: -10px;
}

.loginBox {
  margin-top: 50px;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.19);
  padding: 55px;
  font-size: 20px;
  text-align: center;
  align-items: center;
  border-radius: 5px;
  flex-direction: column;
}
.loginBox form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}
.loginBox a {
  text-decoration: unset;
  color: #ff4d00;
}
.loginBox__button {
  margin-top: 20px;
  padding: 10px;
  width: 29%;
  cursor: pointer;
  background-color: #ff4d00;
  border: none;
  color: #fff;
  border-radius: 5px;
}
.loginBox svg {
  font-size: 50px;
  color: #455368;
}
.loginBox p {
  padding: 5px;
  margin: 0;
}
.loginBox input {
  padding: 10px;
  border: unset;
  border-bottom: 1px solid #939393;
}

.registerBox {
  margin-top: 50px;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.19);
  padding: 55px;
  font-size: 20px;
  text-align: center;
  width: 25%;
  align-items: center;
  border-radius: 5px;
}
.registerBox p {
  padding: 5px;
  margin: 0;
}
.registerBox form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}
.registerBox input {
  padding: 10px;
  margin-top: 25px;
  width: 40%;
  border: unset;
  border: 1px solid rgba(0, 0, 0, 0.29);
  border-radius: 5px;
}
.registerBox__button {
  margin-top: 20px;
  padding: 10px;
  width: 27%;
  cursor: pointer;
  background-color: #ff4d00;
  border: none;
  color: #fff;
  border-radius: 5px;
}

.shoppingCart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.shoppingCart__buyBtn {
  width: 100%;
  padding: 10px;
  background-color: #ff4d00;
  border: none;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}
.shoppingCart__product {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.shoppingCart__product p {
  padding: 5px;
}
.shoppingCart__productQnt {
  padding: 5px;
  width: 8%;
  height: 5%;
}

.order {
  width: 50%;
}
.order h4 {
  color: rgba(40, 44, 52, 0.76);
}
.order input {
  padding: 5px;
  border: none;
  border-bottom: 1px solid rgba(40, 44, 52, 0.41);
  margin-bottom: 10px;
}
.order h2 {
  font-family: "Lato", sans-serif;
  font-weight: 400 !important;
  color: rgba(40, 44, 52, 0.73);
}
.order__accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}
.order__panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border-bottom: 1px solid rgba(77, 74, 80, 0.29);
  margin-bottom: 1px;
}

.active, .order__accordion:hover {
  background-color: #ccc;
}

.adminHeader {
  color: rgba(255, 255, 255, 0.87);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  width: 100%;
  font-weight: 100;
  background-color: #455368;
}
.adminHeader img {
  height: 70px;
}

.admin_orders {
  width: 100%;
}
.admin_orders__table {
  display: flex;
  flex-wrap: wrap;
  color: #585858;
  background-color: #e7e5ee;
}
.admin_orders__table--title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #464646;
  background-color: #d5d4dc;
  width: 100%;
  height: 30px;
}
.admin_orders__table--process {
  background-color: #ff9856;
  color: #fff;
  margin: 0;
  width: 50%;
  border-radius: 5px;
  text-align: center;
}
@media only screen and (max-width: 1500px) {
  .admin_orders__table--process {
    width: 100%;
  }
}
.admin_orders__table--canceled {
  background-color: #ff594f;
  color: #fff;
  margin: 0;
  width: 50%;
  border-radius: 5px;
  text-align: center;
}
@media only screen and (max-width: 1500px) {
  .admin_orders__table--canceled {
    width: 100%;
  }
}
.admin_orders__table--waiting {
  background-color: rgba(138, 219, 255, 0.84);
  color: #fff;
  margin: 0;
  width: 50%;
  border-radius: 5px;
  text-align: center;
}
@media only screen and (max-width: 1500px) {
  .admin_orders__table--waiting {
    width: 100%;
  }
}
.admin_orders__table div {
  text-align: center;
  padding: 10px;
  flex-grow: 1;
  width: 12%;
  display: flex;
  border-bottom: 1px solid rgba(204, 204, 214, 0.72);
  justify-content: center;
}
@media only screen and (max-width: 1500px) {
  .admin_orders__table div {
    width: 12% !important;
  }
}
@media only screen and (max-width: 1200px) {
  .admin_orders__table div {
    width: 12% !important;
  }
}
@media only screen and (max-width: 900px) {
  .admin_orders__table div {
    width: 11% !important;
  }
}
@media only screen and (max-width: 500px) {
  .admin_orders__table div {
    width: 8% !important;
  }
}

.addProduct {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.addProduct__btn {
  background-color: #ff4d00;
  border: none;
  color: #fffbff;
  padding: 10px;
  width: 10%;
  margin-top: 5px;
}
.addProduct__info {
  margin-top: 10px;
}
.addProduct__info input {
  padding: 5px;
}
.addProduct__image {
  border: 1px solid rgba(88, 88, 88, 0.3);
  margin-top: 50px;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
}
.addProduct__image p {
  font-size: 15px;
  margin-top: -5px;
  opacity: 0.4;
}
.addProduct__image svg {
  font-size: 45px;
  opacity: 0.4;
}
.addProduct__image--add {
  border: none;
  background: none;
}
.addProduct__image--upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 15px;
}
.addProduct__image--upload:hover {
  background-color: #d5d4dc;
  transition: background-color 0.09s linear;
}

input[type=file] {
  display: none;
}

.editor {
  background-color: #e6e6e6;
  min-height: 300px;
  border: 1px solid rgba(203, 203, 203, 0.67);
  margin-top: 5px;
  color: #474747;
  font-size: 19px;
  width: 50%;
}
.editor__menu {
  width: 100%;
  display: flex;
  background-color: #455368;
  justify-content: center;
}
.editor__menu--button {
  padding: 10px;
  background: none;
  border: none;
  color: rgba(255, 255, 255, 0.9);
  font-size: 17px;
  cursor: pointer;
}
.editor__canvas {
  outline: none;
}

button:focus {
  outline: none;
}

.admin_users {
  width: 100%;
}
.admin_users__table {
  display: flex;
  flex-wrap: wrap;
  color: #585858;
  background-color: #e7e5ee;
}
.admin_users__table--title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #464646;
  background-color: #d5d4dc;
  width: 100%;
  height: 30px;
}
.admin_users__table--btn {
  background-color: #ff9856;
  color: #fff;
  margin: 0;
  cursor: pointer;
  width: 20%;
  border-radius: 5px;
  text-align: center;
}
.admin_users__table div {
  text-align: center;
  padding: 10px;
  flex-grow: 1;
  width: 17%;
  display: flex;
  border-bottom: 1px solid rgba(204, 204, 214, 0.72);
  justify-content: center;
}
@media only screen and (max-width: 1200px) {
  .admin_users__table div {
    width: 15% !important;
  }
}

.admin_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.admin_menu a {
  background-color: #f34800;
  text-decoration: none;
  padding: 10px;
  margin-left: 10px;
  color: #fff3f8;
}

/*# sourceMappingURL=index.css.map */
